@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: 'Lato';
    color: #424551;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
    
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
/* ==== Обмежуючий контейнер ==== */

[class*="__container"] {
    max-width: 1275px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ============= */
.contacts {}
.contacts__container {}
.contacts__body {
    display: flex;
    flex-wrap: wrap;
}
.contacts__image {
    align-self: center;
    margin-right: 105px;
}
.contacts__image img {
    
    max-width: 100%;        
}
.contacts__form {
    flex-grow: 1;
}
.contacts__column {
    display: flex;
    flex-direction: column;
}
.contacts__title {
    color: #1E212C;
    padding-bottom: 40px;
}
.title h6 {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.title h6:not(:last-child) {
    margin-bottom: 8px;
}
.title h2 {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}
.title h2:not(:last-child) {
    margin-bottom: 8px;
}
.registration__name,
.registration__contact {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.registration__name:not(:last-child) {
    margin-bottom: 24px;
}
.registration__contact:not(:last-child) {
    margin-bottom: 24px;
}
.form__line {   
    flex-grow: 1;
    max-width: 340px;
}
.form__label {
    line-height: 160%;
    margin-bottom: 8px;
    max-height: 26px;
    display: inline-block;  
}
.form__massage,
.form__intut {
    width: 100%;
    padding: 0 15px;
    height: 52px;
    line-height: 160%;
    border: 1px solid #D7DADD;
    border-radius: 4px;    
}
.form__intut::placeholder {
    color: #9A9CA5;
    line-height: 160%;
}
.form__massage::placeholder {
    color: #9A9CA5;
    line-height: 160%;
}
.registration__massage {
    display: flex;
    flex-wrap: wrap;
}
.registration__massage:not(:last-child) {
    margin-bottom: 48px;
}
.form {}
.form__textarea {
    flex-grow: 1;
}
.form__massage {    
    min-height: 128px;
    gap: 25px;
    resize: vertical;
}
.registration__button {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.checkbox {}
.checkbox__line {
    max-width: 340px;
    position: relative;    
}
.checkbox__intut {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.checkbox__intut:checked + .checkbox__label::before {
    background: #FF3F3A url("../img/check.svg") center/ 70% no-repeat;
}
.checkbox__label {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
}
.checkbox__label::before {
    content: "";
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 0;
    background-color: #FF3F3A;
    border: 1px solid #FF3F3A;
    border-radius: 3px;
}
.checkbox__text {
    align-self: center;
    line-height: 160%;
}
.checkbox__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 3.2;
    color: #fff;
    padding: 0 117px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    display: inline-flex;    
}